body{
  background-color: black;
}
.App {
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 2em;
}

.App table{
  border: 2px solid white;
  border-collapse: collapse;
  margin: 2%;
  width: 90%;
}
.App table tr>*{
  border: 2px solid white;
  padding: 0.5em;
  text-transform: capitalize;
}

.oddGroup{
  background-color: #2f2f2f;
}

.App table tr th{
  padding: 0.2em;
  //background-color: #2f2f2f;
  //color: black;
}
